.continer {
  margin: 2rem;
  color: cadetblue;
  padding: 2rem;
  font-size: larger;
  font-style: italic;
  border: 2px solid black;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bold {
  font-weight: bold;
  color: blue;
}
